/*
	ColorBox Core Style:
	The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0;overflow:hidden; z-index:1000;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
	User Style:
	Change the following styles to modify the appearance of ColorBox.  They are
	ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#393939;}
#colorbox{}
	#cboxContent{margin-top:32px; overflow:visible;}
		#cboxError{padding:50px; border:1px solid #ccc;}
		#cboxLoadedContent{padding:1px;}
		#cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
		#cboxLoadingOverlay{}
		#cboxTitle{position:absolute; top:-22px; left:0; color:#000;}
		#cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
		#cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose{text-indent:-9999px; width:30px; height:30px; position:absolute; top:-8px; background:url(../images/controls.png) no-repeat 0 0;}
		#cboxPrevious{background-position:0px 0px;}
		#cboxPrevious.hover{background-position:0px -30px;}
		#cboxNext{background-position:-25px 0px; right:22px;}
		#cboxNext.hover{background-position:-30px -30px;}
		#cboxClose{background-position:-50px 0px; right:0; margin-right:8px;}
		#cboxClose.hover{background-position:-50px -30px;}
		.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
		.cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
		.cboxSlideshow_on #cboxSlideshow.hover{background-position:-100px -25px;}
		.cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
		.cboxSlideshow_off #cboxSlideshow.hover{background-position:-75px -25px;}
		