@charset "utf-8";
/* CSS Document */

body {
	margin:0px;
	padding:0px;
}
.cl {
	clear:both;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.logo_header {
	margin: auto;
	padding: 40px 0 50px;
	width: 1000px;
}
.login_container {
	width:1000px;
	margin:0 auto;
	padding:0px;
}
.login_innerdiv {
	width:500px;
	margin:0px;
	float:right;
}
.login_innerdiv table {
	width:500px;
	margin:0px;
	float:left;
}
.login_innerdiv table tr td {
	margin:0px;
	padding:10px 6px;
	font:normal 12px Tahoma, Arial, Helvetica, sans-serif;
	color:#000000;
}
.login_innerdiv table tr td a {
	font:normal 12px Tahoma, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:underline;
}
.logout {
	background: rgba(0, 0, 0, 0) url("../img/log_out_icon.jpg") no-repeat scroll left center;
	color:#696969;
	float:right;
	font:normal 12px/17px Tahoma, Arial, Helvetica, sans-serif;
	margin-left:15px;
	padding-left:20px;
	text-decoration: none;
}
.page_nav {
	color: #8d8d8d;
	font:normal 11px/25px Verdana, Arial, Helvetica, sans-serif;
	margin: auto;
	padding: 10px 0 20px;
	width: 964px;
}
.mid_shadow {
	background: #ffffff;
	border: 1px solid #dedede;
	border-radius: 8px;
	box-shadow: 0 0 5px 0 #cdcdcd;
	margin: 0 auto 40px;
	padding: 8px;
	width: 986px;
}
.mid_content {
	margin: auto;
	padding: 8px;
	width: 951px;
}
.mid_content table {
	margin:0px;
	padding:0px;
}
.mid_content table tr td {
	font:normal 12px/18px Tahoma, Arial, Helvetica, sans-serif;
	color:#000000;
}
.gray_devider {
	border-left: 1px solid #dedede;
}
.input {
	border:1px solid #dedede;
	font:normal 12px/18px Tahoma, Arial, Helvetica, sans-serif;
	color:#000000;
	padding:5px 8px;
}
.sub_container table {
	width:100%;
	margin:0px;
	padding:0px;
}
.sub_container table tr td {
	margin:0px;
	padding:3px 8px;
	color:#000000;
	font:normal 12px Tahoma, Arial, Helvetica, sans-serif;
	border-right:1px solid #dedede;
    border-bottom:1px solid #dedede;
}
.update {
	margin: 15px auto 10px;
	width:962px;
}
.borderrightnone {
	border-right:0px !important;
}
.disclaimer_nav {
	color: #908d85;
	font:normal 10px/16px Verdana, Arial, Helvetica, sans-serif;
	margin: auto;
	text-align: center;
	width: 980px;
}
