@charset "utf-8";
body {
	margin:0 0px;
	background:url(../images/topbg.jpg) top left repeat-x;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.cl{
	clear:both;
}
.login_header {
	margin: auto;
	width: 1000px;
	padding:40px 0 50px 0px;
}
.login_container{
	margin:auto;
	width:470px;
	padding-left:470px;
	padding-bottom:30px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}
.general_txt{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	line-height:18px;
}
.general_txt a{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#003318;
	text-decoration:underline;
}
.login_txtf{
	background:#ffffff;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	border:1px solid #ccf09a;
	width:260px;
	height:20px;
	padding:5px;
}
.footer_container{
	border-top:1px solid #729c33;
	padding:16px 0px;
	margin:auto;
	text-align:center;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	line-height:18px;
}
.footer_container span{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#314714;
}
.top_container {
	margin: auto;
	width: 1000px;
	padding-top:22px;
	height:72px;
}
.welcome_area{
	float:right;
	width:650px;
	color:#696969;
	font:normal 12px Tahoma, Arial, Helvetica, sans-serif;
}
.welcome_area .logout{
	float:right;
	color:#696969;
	font:normal 12px Tahoma, Arial, Helvetica, sans-serif;
	text-decoration:none;
	background:url(../images/log_out_icon.jpg) left center no-repeat;
	padding-left:20px;
	line-height:17px;
	margin-left:15px;
}
.welcome_area .logout:hover{
	color:#696969;
	text-decoration:underline;
}
.mid_nav{
	margin:auto;
	width:1000px;
	background:url(../images/mid_navbg.jpg) top center no-repeat;
	height:47px;
}
.mainnav{
	float:left;
	padding:0 0px;
	margin:0 0px;
	list-style:none;
	width:1000px;
}
.mainnav li{
	float:left;
	padding:0 0px;
	margin:0 0px;
	list-style:none;
	background:url(../images/nav_devider.jpg) right top no-repeat;
}
.mainnav li a{
	float:left;
	padding:0 40px;
	margin:0 0px;
	text-decoration:none;
	line-height:47px;
	color:#005a29;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}
.mainnav li a:hover{
	float:left;
	padding:0 40px;
	margin:0 0px;
	text-decoration:none;
	line-height:47px;
	color:#005a29;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	background:url(../images/hover_arrow.jpg) top center no-repeat;
}
.mainnav li a.selected{
	float:left;
	padding:0 40px;
	margin:0 0px;
	text-decoration:none;
	line-height:47px;
	color:#005a29;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	background:url(../images/hover_arrow.jpg) top center no-repeat;
}
.page_nav{
	margin:auto;
	width:964px;
	line-height:25px;
	padding:10px 0 20px 0px;
	color:#8d8d8d;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.page_nav a{
	color:#076533;
	text-decoration:underline;
}
.page_nav a:hover{
	color:#5e764a;
	text-decoration:underline;
}
.footer_container_in{
	margin:auto;
	background:url(../images/footerbg.jpg) left top repeat-x #fbfef7;
	padding:15px 0 15px 0px;
}
.disclaimer_nav{
	margin:auto;
	width:980px;
	color:#000000;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
}
.disclaimer_nav a{
	color:#000000;
	text-decoration:none;
	padding:0 3px 0 3px;
	line-height:20px;
}
.disclaimer_nav a:hover{
	color:#000000;
	text-decoration:underline;
}
.copyright{
	color:#908D85;
	font-size:10px;
	font-family:verdana, Arial, Helvetica, sans-serif;
	padding-left:3px;
	line-height:16px;
}
.site_viewed{
	color:#314714;
	font-size:10px;
	font-family:verdana, Arial, Helvetica, sans-serif;
}
.mid_container{
	margin:auto;
	width:1000px;
	padding:0px 0 10px 0px;
}
.mid_shadow{
	width:967px;
	border:1px solid #dedede;
	padding:8px;
    background: #ffffff;
    -pie-background: #ffffff;
    behavior: url(PIE.htc);
	
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;	
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;

    -moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	
	border-radius:8px;
			
	-moz-box-shadow: 0px 0px 5px 0px #cdcdcd;
	-webkit-box-shadow: 0px 0px 5px 0px #cdcdcd;
	box-shadow: 0px 0px 5px 0px #cdcdcd;
	margin:0 auto 40px auto;

}
.mid_shadow_head{
	width:951px;
	background:url(../images/gray_gradient.jpg) left top repeat-x;
    behavior: url(PIE.htc);	
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;

	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	
	border-radius:8px 8px 0 0px;
	height:32px;
	margin:auto;
	padding:0 8px;
	
	font-size:16px;
	color:#065a2d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:31px;
}
.mid_content{
	width:951px;
	margin:auto;
	padding:8px;
}
.gray_devider{
	border-left:1px solid #dedede;
}
.sub_container{
	margin:15px auto 10px auto;
	border:1px solid #dedede;
    background:url(../images/gray_gradient.jpg) left top repeat-x;
    behavior: url(PIE.htc);
	
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;	
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;

    -moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	
	border-radius:8px;
}
.green_txt_left{
	color:#065a2d;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:32px;
	padding-left:22px;
	text-align:left;
}
.green_txt_center{
	color:#065a2d;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:32px;
	text-align:center;
}
.gray_devider1{
	background:url(../images/line.jpg) top right repeat-y;
}
.general_txt_left{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	line-height:32px;
	padding-left:22px;
	text-align:left;
}
.general_txt_center{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	line-height:32px;
	text-align:center;
}
.pdf_nav{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#076533;
	line-height:32px;
	background:url(../images/pdf_icon.png) left center no-repeat;
	padding-left:33px;
	text-decoration:underline;
	display:inline-block;
}
.alternate_bg{
	background:url(../images/line.jpg) top right repeat-y #f9f9f9;
}
.alternate_bg_last{
	background:#f9f9f9;
}
.view_nav{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#076533;
	line-height:32px;
	text-decoration:underline;
}
.bottom_nav{
	float:right;
	width:900px;
	padding:0 10px 20px 0px;
	text-align:right;
}
.popup_shadow{
	width:470px;
	padding:25px;
    background: #ffffff;
    -pie-background: #ffffff;
    behavior: url(PIE.htc);
	
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;	
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;

    -moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	
	border-radius:8px;
			
	-moz-box-shadow: 0px 0px 0px 0px #545454;
	-webkit-box-shadow: 0px 0px 0px 0px #545454;
	box-shadow: 0px 0px 5px 0px #545454;
	margin:0 auto 40px auto;

}
.popup_shadow_head{
	width:452px;
	background:url(../images/gray_gradient.jpg) left top repeat-x;
    behavior: url(PIE.htc);	
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;

	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	
	border-radius:8px 8px 0 0px;
	height:32px;
	margin:auto;
	padding:0 8px;
	
	font-size:16px;
	color:#065a2d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:31px;
	border-top:1px solid #dedede;
	border-left:1px solid #dedede;
	border-right:1px solid #dedede;
}
.popup_shadow_detail{
	width:4l8px;
	background: #ffffff;
    -pie-background: #ffffff;
    behavior: url(PIE.htc);	
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;

	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	
	border-radius:0px 0px 8px 8px;
	margin:auto;
	border-bottom:1px solid #dedede;
	border-left:1px solid #dedede;
	border-right:1px solid #dedede;
}




.generaltxt_container_health{
	float:left;
	width:676px;
	padding:0 20px 0 0px;
	color:#555555;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
}
.generaltxt_container_health p{
	float:left;
	width:676px;
	padding:0px;
	margin:0px;
}
.tabber_box_health{
	float:left;
	width:676px;
	padding:20px 0 22px 0px;
	background:url(../images/tabber_bottom_health.jpg) bottom center no-repeat;
}

.technology{ /*header of 2nd demo*/
cursor: hand;
cursor: pointer;
font: bold 12px Tahoma;
line-height:30px;
}


.openlanguage{ /*class added to contents of 2nd demo when they are open*/
color: #555555;
}

.closedlanguage{ /*class added to contents of 2nd demo when they are closed*/
color: #555555;
}
.thelanguage{
	padding:0 0 0 15px;
}
.thelanguage ul{
	padding:0 0 0 0px;
	margin:0 0 0 0px;
	list-style:none;
}
.thelanguage ul li{
	padding:0 0 5px 0px;
	margin:0 0 0 0px;
	list-style:none;
	background:none;
}
.thelanguage ul li a{
	color:#187042;
	float:left;
}
.thelanguage ul li a:hover{
	color:#187042;
	text-decoration:none;
}

.thelanguage a{
	color:#187042;
}
.thelanguage a:hover{
	color:#187042;
	text-decoration:none;
}
.tabber_border{
	padding:10px 10px 0 10px; 
	width:655px;
	border-left:1px solid #bce1b0;
	border-right:1px solid #bce1b0;
}

.technology1{ /*header of 2nd demo*/
cursor: hand;
cursor: pointer;
font: bold 12px Tahoma;
line-height:30px;
}


.openlanguage1{ /*class added to contents of 2nd demo when they are open*/
color: #555555;
}

.closedlanguage1{ /*class added to contents of 2nd demo when they are closed*/
color: #555555;
}
.thelanguage1{
	padding:0 0 0 15px;
}

.rightnav_health{
	float:left;
	width:270px;
}
.get_quick_quote_top{
	float:left;
	width:269px;
	height:14px;
	background:url(../images/quote_rightbg_top.png) top center no-repeat;
}
.get_quick_quote{
	float:left;
	width:253px;
	background:url(../images/quote_rightbg.png) bottom center no-repeat;
	padding:0px 8px 35px 8px;
}
.get_quick_quote h1{
	float:left;
	width:245px;
	padding:0 0 15px 0px;
	margin:0 0 0 0px;
}
.quote_text1{
	float:left;
	width:85px;
	height:25px;
	line-height:25px;
	color:#424242;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-bottom:14px;
}
.quote_text1_1{
	float:left;
	width:85px;
	height:25px;
	color:#424242;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-bottom:14px;
}
.quote_text4{
	float:left;
	width:240px;
	height:25px;
	color:#424242;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;

}
.quote_text2{
	float:left;
	width:10px;
	height:25px;
	line-height:25px;
	color:#424242;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-bottom:14px;
	font-weight:bold;
}
.quote_text3{
	float:left;
	width:150px;
	height:25px;
	padding-bottom:14px;
}
.email_quote{
	float:left;
	width:266px;
	background:url(../images/all_quotebg_top.jpg) top center no-repeat;
	padding-top:5px;
}
.email_quote_in{
	float:left;
	width:256px;
	background:url(../images/all_quotebg.jpg) bottom center no-repeat #f2fed8;
	padding:0 5px 35px 5px;
}

.email_text1{
	float:left;
	width:45px;
	line-height:25px;
	height:25px;
	color:#424242;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:11px;
	padding-bottom:9px;
}
.email_text1_1{
	float:left;
	width:60px;
	line-height:25px;
	height:25px;
	color:#424242;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:11px;

}
.email_text1_2{
	float:left;
	width:60px;
	height:25px;
	color:#424242;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:11px;

}
.email_text2{
	float:left;
	width:10px;
	line-height:25px;
	height:25px;
	color:#424242;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-bottom:9px;
	font-weight:bold;
}
.email_text3_1{
	float:left;
	width:168px;
	float:left;
	padding-bottom:9px;
	height:25px;
}
.email_text3_2{
	float:left;
	width:172px;
	float:left;
	padding-bottom:9px;
	padding-left:65px;
	height:25px;
}
.email_txtfld{
	background:url(../images/email_txt.png) top center no-repeat;
	width:168px;
	padding:1px;
	float:left;
	padding-bottom:9px;
	height:25px;
}
.email_txtfld_1{
	background:url(../images/txtf_bg1_s.png) top center no-repeat;
	width:78px;
	padding:1px;
	float:left;
	padding-bottom:0px;
	height:25px;
	margin-left:5px;

}
.email_txtfld_2{
	background:url(../images/std_s.png) top center no-repeat;
	width:38px;
	padding:1px;
	float:left;
	padding-bottom:0px;
	height:25px;

}
.email_txtfld1{
	width:168px;
	padding:1px;
	float:left;
	padding-bottom:9px;
	height:25px;
}
.date_txtfld{
	background:url(../images/date_txt.png) top center no-repeat;
	width:168px;
	padding:1px;
	float:left;
	padding-bottom:9px;
	height:25px;
}

.email_txtfld_proposal{
	background:url(../images/email_txt.png) top center no-repeat;
	width:168px;
	padding:1px;
	float:left;
	height:23px;
}
.date_f{
	color:#424242;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:normal;
	width:123px;
	padding:3px;
	height:18px;
	font-size:11px;
	border:0px;
	background:none;
	background:url(../images/date_txt1.png) top center no-repeat;
}
.date_f1{
	color:#424242;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:normal;
	width:123px;
	padding:3px;
	height:18px;
	font-size:11px;
	border:1px solid #6ca862;
	background:url(../images/date.png) top right no-repeat;
}

.email_f{
	color:#424242;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:normal;
	width:162px;
	padding:3px;
	font-size:11px;
	border:0px;
	background:none;
}

.email_f1{
	color:#424242;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:normal;
	width:70px;
	padding:3px 4px;
	font-size:11px;
	border:0px;
	background:none;

}
.email_f2{
	color:#424242;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:normal;
	width:30px;
	padding:3px 4px;
	font-size:11px;
	border:0px;
	background:none;
	text-align:center;
}
.sendbtn_box{
	float:left;
	width:100px;
	padding-left:45px;
}
.sendbtn_box1{
	float:left;
	width:100px;
	padding-left:60px;
}
span.customStyleSelectBox { font-size:11px; background:url(../images/arrow_green.jpg) no-repeat center right; padding:0px 3px; border:0px solid #e7dab0; color:#424242;	font-family:Tahoma, Arial, Helvetica, sans-serif;	font-weight:normal; margin:0px;}
span.customStyleSelectBox.changed { background-color: #ffffff; }
.customStyleSelectBoxInner { padding:0px; margin:0px; }

.slider_price1{
	float:left;
	background:url(../images/bg.png) top left no-repeat;
	width:252px;

}
.redtxt{
	color:#aa0508;
}
.premium_box_in{
	float:left;
	width:240px;
	color:#187042;
	font-size:14px;
	font-weight:bold;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	line-height:20px;
}
.txtarea_bg{
	float:left;
	width:294px;
	height:99px;
	padding:3px 3px 3px 3px;
	margin-top:6px;
	background:url(../images/advance_searchbg1.png) top left no-repeat;
}
.txtarea_l{
	color:#424242;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:normal;
	width:290px;
	padding:2px;
	font-size:11px;
	border:0px;
	background:none;
	height:94px;
}
<!------------- Drop List Start ---------------------->
		.desc { color:#6b6b6b;}
        .desc a {color:#0092dd;}
		.dropdown{
			background:url(../images/txtf_bg.png) top center no-repeat;
			width:144px;
			height:20px;
			padding:3px;
			font-size: 13px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #424242;
		}
		.dropdown_1{
			background:url(../images/txtf_bg.png) top center no-repeat;
			width:144px;
			height:22px;
			padding:2px 3px;
			font-size: 13px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #424242;
		}
		.dropdown_2{
			background:url(../images/enquiry_bg.png) top center no-repeat;
			width:204px;
			height:20px;
			padding:2px 3px;
			font-size: 13px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #424242;
		}
        .dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
        .dropdown dd { position:relative; margin:0px; padding:0px;}
        .dropdown a, .dropdown a:visited { color:#424242; text-decoration:none; outline:none; padding-left:5px;}
        .dropdown a:hover { color:#fff;}
        .dropdown dt a:hover { color:#5d4617; border: 0px solid #d0c9af;}
        .dropdown dt a {background:#fff url(../images/arrow_green.jpg) no-repeat scroll right center; display:block;
                        border:0px solid #d4ca9a; width:135px;font-size: 13px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #424242;}
        .dropdown dt a span {cursor:pointer; display:block; padding:0px;}
        .dropdown dd ul { background:#fff none repeat scroll 0 0; border:1px solid #6ca760; color:#C5C0B0; display:none;
                          left:0px; padding:0px 0px; position:absolute; top:4px; width:auto; min-width:140px; list-style:none;}
        .dropdown span.value { display:none;}
        .dropdown dd ul li a { padding:5px; display:block;}
        .dropdown dd ul li a:hover { background-color:#16622b;}
        
        .dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }
        .flagvisibility { display:none;}
		
		
		
		
		.dropdown1{
			background:url(../images/txtf_bg1_s.png) top center no-repeat;
			width:72px;
			height:20px;
			padding:3px;
			font-size: 13px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #424242;
		}
		.dropdown1_1{
			background:url(../images/txtf_bg1_s.png) top center no-repeat;
			width:72px;
			height:22px;
			padding:2px 3px;
			font-size: 13px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #424242;
		}
        .dropdown1 dd, .dropdown1 dt, .dropdown1 ul { margin:0px; padding:0px; }
        .dropdown1 dd { position:relative; margin:0px; padding:0px;}
        .dropdown1 a, .dropdown1 a:visited { color:#424242; text-decoration:none; outline:none; padding-left:5px;}
        .dropdown1 a:hover { color:#fff;}
        .dropdown1 dt a:hover { color:#5d4617; border: 0px solid #d0c9af;}
        .dropdown1 dt a {background:#fff url(../images/arrow_green.jpg) no-repeat scroll right center; display:block;
                        border:0px solid #d4ca9a; width:65px;font-size: 13px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #424242;}
        .dropdown1 dt a span {cursor:pointer; display:block; padding:0px;}
        .dropdown1 dd ul { background:#fff none repeat scroll 0 0; border:1px solid #6ca760; color:#C5C0B0; display:none;
                          left:0px; padding:0px 0px; position:absolute; top:4px; width:auto; min-width:65px; list-style:none;}
        .dropdown1 span.value { display:none;}
        .dropdown1 dd ul li a { padding:5px; display:block;}
        .dropdown1 dd ul li a:hover { background-color:#16622b;}
        
        .dropdown1 img.flag { border:none; vertical-align:middle; margin-left:10px; }
		
		
		.dropdown2{
			background:url(../images/txtf_bg1_s.png) top center no-repeat;
			width:72px;
			height:20px;
			padding:3px;
			font-size: 13px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #424242;
		}
        .dropdown2 dd, .dropdown2 dt, .dropdown2 ul { margin:0px; padding:0px; }
        .dropdown2 dd { position:relative; margin:0px; padding:0px;}
        .dropdown2 a, .dropdown2 a:visited { color:#424242; text-decoration:none; outline:none; padding-left:5px;}
        .dropdown2 a:hover { color:#fff;}
        .dropdown2 dt a:hover { color:#5d4617; border: 0px solid #d0c9af;}
        .dropdown2 dt a {background:#fff url(../images/arrow_green.jpg) no-repeat scroll right center; display:block;
                        border:0px solid #d4ca9a; width:65px;font-size: 13px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #424242;}
        .dropdown2 dt a span {cursor:pointer; display:block; padding:0px;}
        .dropdown2 dd ul { background:#fff none repeat scroll 0 0; border:1px solid #6ca760; color:#C5C0B0; display:none;
                          left:0px; padding:0px 0px; position:absolute; top:4px; width:auto; min-width:65px; list-style:none;}
        .dropdown2 span.value { display:none;}
        .dropdown2 dd ul li a { padding:5px; display:block;}
        .dropdown2 dd ul li a:hover { background-color:#16622b;}
        
        .dropdown2 img.flag { border:none; vertical-align:middle; margin-left:10px; }
		
		
		.dropdown3{
			background:url(../images/txtf_bg1_s.png) top center no-repeat;
			width:72px;
			height:20px;
			padding:3px;
			font-size: 13px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #424242;
		}
        .dropdown3 dd, .dropdown3 dt, .dropdown3 ul { margin:0px; padding:0px; }
        .dropdown3 dd { position:relative; margin:0px; padding:0px;}
        .dropdown3 a, .dropdown3 a:visited { color:#424242; text-decoration:none; outline:none; padding-left:5px;}
        .dropdown3 a:hover { color:#fff;}
        .dropdown3 dt a:hover { color:#5d4617; border: 0px solid #d0c9af;}
        .dropdown3 dt a {background:#fff url(../images/arrow_green.jpg) no-repeat scroll right center; display:block;
                        border:0px solid #d4ca9a; width:65px;font-size: 13px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #424242;}
        .dropdown3 dt a span {cursor:pointer; display:block; padding:0px;}
        .dropdown3 dd ul { background:#fff none repeat scroll 0 0; border:1px solid #6ca760; color:#C5C0B0; display:none;
                          left:0px; padding:0px 0px; position:absolute; top:4px; width:auto; min-width:65px; list-style:none;}
        .dropdown3 span.value { display:none;}
        .dropdown3 dd ul li a { padding:5px; display:block;}
        .dropdown3 dd ul li a:hover { background-color:#16622b;}
        
        .dropdown3 img.flag { border:none; vertical-align:middle; margin-left:10px; }

<!------------- Drop List End ---------------------->