@charset "utf-8";
/* CSS Document */
/*=================For login page===================*/
.body_bg {
	background:#b7db82;
}
.submit_button {
	background:#096330;
	font:bold 13px Tahoma, Arial, Helvetica, sans-serif;
	color:#ffffff;
	padding:6px 10px;
	cursor:pointer;
	border:none;
}
.login_input {
	background:#ffffff;
	border:1px solid #dedede;
	color:#000000;
	font:normal 12px Tahoma, Arial, Helvetica, sans-serif;
	padding:8px 5px;
	width: 260px;
}
.footer_container {
	border-top:1px solid #729c33;
	color:#000000;
	font:normal 11px/18px Tahoma, Arial, Helvetica, sans-serif;
	margin:30px auto auto;
	padding: 16px 0;
	text-align: center;
}
.footer_container span {
	color:#314714;
	font:normal 10px Tahoma, Arial, Helvetica, sans-serif;
}
/*=================For Policy page===================*/


.top_header {
	width:100%;
	margin:0px;
	padding:19px 0 48px 0px;
	border-top:5px solid #a5a5a5;
	border-bottom:1px solid #a5a5a5;
}
.mid_nav {
	background:#ffffff;
	height: 47px;
	margin: -25px auto auto;
	width: 1000px;
	border:1px solid #d8d8d8;
	box-shadow:0px 2px 5px #d8d8d8;
}
.mainnav {
	float: left;
	list-style: outside none none;
	margin: 0;
	padding: 0;
	width: 1000px;
	height:47px;
}
.mainnav li {
	float: left;
	list-style: outside none none;
	margin: 0;
	padding-bottom:6px;
	border-right:1px solid #d8d8d8;
}
.mainnav li a {
	color: #005a29;
	float: left;
	/*font:bold 12px/35px Tahoma, Arial, Helvetica, sans-serif;*/
	font:bold 12px/15px Tahoma, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 5px 40px;
	text-decoration: none;
	text-align:center;
}
.mainnav li a span.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 7px solid transparent;
	border-top: 6px solid #ffffff;
	display:inline-block;
}
.mainnav li a span.activetext {
	font:bold 12px/15px Tahoma, Arial, Helvetica, sans-serif;
	color: #005a29;
	display:block;
}
.mainnav li a:hover {
	color: #005a29;
	float: left;
	font:bold 12px/15px Tahoma, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 5px 40px;
	text-decoration: none;
}
.mainnav li a:hover span.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 7px solid transparent;
	border-top: 6px solid #106a3a;
	display:inline-block;
}
.mainnav li a:hover span.activetext {
	font:bold 12px/15px Tahoma, Arial, Helvetica, sans-serif;
	color: #005a29;
	display:block;
}
.mainnav li a.active {
	color: #005a29;
	float: left;
	font:bold 12px/15px Tahoma, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 5px 40px;
	text-decoration: none;
	text-align:center;
}
.mainnav li a.active span.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 7px solid transparent;
	border-top: 6px solid #106a3a;
	display:inline-block;
}
.mainnav li a.active span.activetext {
	font:bold 12px/15px Tahoma, Arial, Helvetica, sans-serif;
	color: #005a29;
	display:block;
}
.page_nav a {
	color: #076533;
	text-decoration: underline;
}
.mid_shadow_head {
	background:#e4e2e3;
	color: #065a2d;
	font:normal 16px/31px Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	height: 32px;
	margin: auto;
	padding: 0 8px;
	text-transform: uppercase;
	width: 951px;
}
.sub_container {
	border: 1px solid #dedede;
	margin: 15px auto 10px;
	width:960px;
    border-bottom: 0px solid #dedede;
}
.sub_container table tr th {
	background:#e4e2e3;
	margin:0px;
	padding:0px 8px;
	color:#065a2d;
	font:bold 12px Tahoma, Arial, Helvetica, sans-serif;
	border-right:1px solid #ffffff;
}
.login_footer_container {
	border-top: 1px solid #729c33;
	color: #000000;
	font:normal 11px/18px Tahoma, Arial, Helvetica, sans-serif;
	margin: auto;
	padding: 16px 0;
	text-align: center;
}
.footer_container {
	border-top:1px solid #dedede;
	color:#000000;
	font:normal 11px/18px Tahoma, Arial, Helvetica, sans-serif;
	margin:30px auto auto;
	padding: 16px 0;
	text-align: center;
	background:#f1fbe3;
}
.disclaimer_nav span {
	color: #314714;
	font:normal 10px verdana, Arial, Helvetica, sans-serif;
}
