@charset "utf-8";
body {
	margin:0 0px;
	background:url(../images/topbg.jpg) top left repeat-x;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.cl{
	clear:both;
}
.top_container {
	margin: auto;
	width: 1000px;
	padding-top:22px;
	height:76px;
}
.welcome_area{
	float:right;
	width:650px;
	color:#696969;
	font:normal 12px Tahoma, Arial, Helvetica, sans-serif;
}
.welcome_area .logout{
	float:right;
	color:#696969;
	font:normal 12px Tahoma, Arial, Helvetica, sans-serif;
	text-decoration:none;
	background:url(../images/log_out_icon.jpg) left center no-repeat;
	padding-left:20px;
	line-height:17px;
	margin-left:15px;
}
.welcome_area .logout:hover{
	color:#696969;
	text-decoration:underline;
}
.welcome_area .profile{
	float:right;
	color:#696969;
	font:normal 12px Tahoma, Arial, Helvetica, sans-serif;
	text-decoration:none;
	background:url(../images/profile_icon.jpg) left center no-repeat;
	padding-left:26px;
	line-height:17px;
	margin-left:15px;
}
.welcome_area .profile:hover{
	color:#696969;
	text-decoration:underline;
}
.welcome_area .username{
	float:right;
	color:#696969;
	font:bold 12px Tahoma, Arial, Helvetica, sans-serif;
	text-decoration:none;
	background:url(../images/user_icon.jpg) left center no-repeat;
	padding-left:20px;
	line-height:17px;
	margin-left:10px;
}
.welcome_area .welcome{
	float:right;
	color:#696969;
	font:normal 12px Tahoma, Arial, Helvetica, sans-serif;
	line-height:17px;
}
.health_plan{
	float:right;
	width:650px;
	color:#696969;
	font:normal 12px Tahoma, Arial, Helvetica, sans-serif;
	text-align:right;
	padding-top:30px;
}
.mid_nav{
	margin:auto;
	width:1000px;
	background:url(../images/mid_navbg.jpg) top center no-repeat;
	height:67px;
}
.mainnav{
	float:left;
	padding:0 0px;
	margin:0 0px;
	list-style:none;
}
.mainnav li{
	float:left;
	padding:0 0px;
	margin:0 0px;
	list-style:none;
	background:url(../images/nav_devider.jpg) right top no-repeat;
}
.mainnav li a{
	float:left;
	padding:0 40px;
	margin:0 0px;
	text-decoration:none;
	line-height:47px;
	color:#005a29;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}
.mainnav li a:hover{
	float:left;
	padding:0 40px;
	margin:0 0px;
	text-decoration:none;
	line-height:47px;
	color:#005a29;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	background:url(../images/hover_arrow.jpg) top center no-repeat;
}
.mainnav li a.selected{
	float:left;
	padding:0 40px;
	margin:0 0px;
	text-decoration:none;
	line-height:47px;
	color:#005a29;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	background:url(../images/hover_arrow.jpg) top center no-repeat;
}
.last_login{
	float:right;
	width:250px;
	line-height:47px;
	color:#000000;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	text-align:right;
	padding-right:25px;
}
.congratulations {
	width:962px;
	margin:auto;
	background:#ffffff;
	border:1px solid #e3e3e3;
	padding:8px;
	-pie-background: #ffffff;
    -webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
    border-radius: 5px;
    behavior: url(PIE.htc);
}
.inner_mid_container {
	width:964px;
	margin:auto;
	background:#ffffff;
	border:1px solid #e3e3e3;
	padding:8px;
	-pie-background: #ffffff;
    -webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
    border-radius: 5px;
    behavior: url(PIE.htc);
	margin-bottom:30px;
}
.comission_box{
	float:left;
	width:964px;
	background:url(../images/comission_mid.jpg) left top repeat-x;
}
.comissionbox_in{
	float:left;
	width:918px;
	padding:14px 10px 0 10px;
}
.comission_content{
	float:left;
	width:950px;
	padding:10px 8px;
}
.comission_area{
	float:left;
	width:964px;
	/*background:url(../images/middle_964_shadow.jpg) top center repeat-y;*/
	margin-bottom:10px;
}
.comission_area_mid{
	float:left;
	width:936px;
	margin:0 14px;
	background:url(../images/gray_bg1.jpg) left top repeat-x;
}
.comission_area_total{
	float:left;
	width:936px;
	margin:0 14px;
	background:#fbfbe3;
}
.download_area{
	float:left;
	width:936px;
	margin:0 14px;
	padding:10px 0px;
}
.export_pdf{
	background:url(../images/pdf_icon.jpg) right center no-repeat;
	color:#416c03;
	font-size:12px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	text-decoration:underline;
	padding-right:20px;
	line-height:18px;
	height:17px;
	display:inline-block;
}
.export_excel{
	background:url(../images/excel_icon.jpg) right center no-repeat;
	color:#416c03;
	font-size:12px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	text-decoration:underline;
	padding-right:20px;
	line-height:18px;
	height:17px;
	display:inline-block;
}
.photo_area{
	float:left;
	padding:5px;
	border:1px solid #dadada;
}
.congrats_bg{
	float:left;
	background:url(../images/congrats_bg.jpg) top left no-repeat;
	width:320px;
	height:67px;
	padding:15px 15px 0 40px;
	font-size:16px;
	color:#065a2d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.congrats_bg h1{
	float:left;
	width:320px;
	padding:0px 0 0 0px;
	font-size:20px;
	color:#065a2d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin:0 0px;
}
.next_level{
	float:right;
	width:385px;
	height:62px;
	background:url(../images/silverbg.jpg) top center no-repeat;
	padding:10px 95px 10px 20px;
}
.next_level h1{
	float:left;
	width:385px;
	padding:0px 0 0 0px;
	font-size:20px;
	color:#065a2d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin:0 0px;
}
.next_level p{
	float:left;
	width:385px;
	padding:2px 0 0 0px;
	font-size:12px;
	color:#424242;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:normal;
	margin:0 0px;
}
.mid_container{
	margin:auto;
	width:1000px;
	padding:10px 0px;
}
.left_area_main{
	float:left;
	width:684px;
}
.left_area{
	float:left;
	width:684px;
	background:url(../images/middle_shadow.jpg) top center repeat-y;
}
.left_area_mid{
	float:left;
	width:656px;
	margin:0 14px;
	background:url(../images/gray_bg.jpg) left top repeat-x;
}
.gray_devider{
	border-right:1px solid #dedede;
}
.gray_devider1{
	background:url(../images/line.jpg) top right repeat-y;
}
.greentxt{
	font-size:16px;
	color:#065a2d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding-left:5px;
}
.greentxt_center{
	font-size:16px;
	color:#065a2d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.greentxt_12_center{
	font-size:12px;
	color:#065a2d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.graytxt{
	font-size:12px;
	color:#424242;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:normal;
	padding-left:5px;
	border-bottom:1px solid #dedede;
}
.graytxt1{
	font-size:12px;
	color:#424242;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:normal;
	padding-left:5px;
}
.notification_box_main{
	float:right;
	width:314px;
}
.notification_box{
	float:right;
	width:314px;
	background:url(../images/notification_top.jpg) top center no-repeat;
	padding-top:12px;
}
.notific_main{
	width:264px;
	float:left;
	margin:0 10px;
	padding:0 15px;
	border-bottom:0px solid #e3e3e3;
}
.notification_icon{
	float:left;
	background:url(../images/notification_bg.jpg) left top no-repeat;
	width:36px;
	height:55px;
	display:block;
	color:#ffffff;
	font-size:12px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:normal;
	padding:0 0 0 25px;
	line-height:26px;
	text-align:center;
}
.notification_txt{
	font-size:20px;
	color:#065a2d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:bold;
	float:left;
	width:125px;
	padding:17px 0 0 0px;
}
.more_nav{
	color:#424242;
	font-size:11px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-decoration:underline;
	float:right;
	background:url(../images/more_plus.jpg) left center no-repeat;
	padding:0 0 0 13px;
	margin-top:25px;
}
.more_nav:hover{
	text-decoration:none;
}
.more_nav_new{
	color:#424242;
	font-size:11px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-decoration:underline;
	float:right;
	background:url(../images/more_plus.jpg) left center no-repeat;
	padding:0 0 0 13px;
	margin:5px 8px 0 0px;
}
.more_nav_new:hover{
	text-decoration:none;
}
.notification_point{
	float:left;
	width:262px;
	background:url(../images/notific_arrowbg.jpg) left top no-repeat;
	height:33px;
	margin-left:11px;
	padding:8px 15px;
	color:#424242;
	font-size:12px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	line-height:15px;
}
.notification_point a{
	color:#424242;
	font-size:12px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.average_age{
	float:right;
	background:url(../images/average_pro_icon.jpg) top center no-repeat;
	width:260px;
	height:47px;
	padding:6px 0 0 54px;
	font-size:18px;
	color:#065a2d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height:35px;
}
.tip_of_day{
	margin:auto;
	width:958px;
	background:url(../images/tipofday_bg.jpg) top left repeat-x;
	height:55px;
	padding:0 10px;
}
.tiptext{
	float:left;
	background:url(../images/tip_bg.jpg) top center no-repeat;
	width:139px;
	height:45px;
	text-align:center;
	line-height:30px;
	font-size:18px;
	color:#065a2d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin-right:10px;
}
.tip_comment{
	float:left;
	width:730px;
	background:url(../images/quote_left.jpg) left center no-repeat, url(../images/quote_right.jpg) right center no-repeat;
	color:#424242;
	font-size:12px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	padding:0 35px;
	height:24px;
	line-height:24px;
	margin-top:10px;
}
.contest_search_area{
	margin:auto;
	width:978px;
	padding:15px 0 10px 0px;
}
.contest_box{
	float:left;
	width:551px;
	background:url(../images/contest_bg.jpg) top left no-repeat;
	height:127px;
	padding:8px 10px 0 100px;
}
.contest_box h1{
	float:left;
	width:551px;
	padding:5px 0px;
	margin:0 0px;
	font-size:18px;
	color:#065a2d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.contest_box p{
	float:left;
	width:551px;
	padding:0px 0 5px 0px;
	line-height:18px;
	margin:0 0px;
	color:#424242;
	font-size:12px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
}
.search_area{
	float:right;
	width:198px;
	background:url(../images/search_bg.jpg) top left no-repeat;
	height:127px;
	padding:8px 10px 0 86px;
}
.search_area h1{
	float:left;
	width:198px;
	padding:3px 0px;
	margin:0 0px;
	font-size:18px;
	color:#065a2d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.search_area p{
	float:left;
	width:178px;
	padding:3px 10px 0 10px;
	margin:0 0px;
	color:#767676;
	font-size:11px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
}
.search_txtfbg{
	float:left;
	width:177px;
	background:url(../images/search_txtfbg.jpg) top center no-repeat;
	height:17px;
	padding:8px 10px;
}
.txtfield_search{
	color:#8e8e8e;
	font-size:12px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	border:0px;
	background:none;
	outline:none;
}
.txtlist_menu{
	color:#666666;
	font-size:12px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	border:1px solid #d6d6d6;
	background:#faf9f9;
	outline:none;
	padding:2px;
}
.redtxt{
	color:#ff0b0b;
}
.month_txtfbg{
	float:left;
	width:127px;
	background:url(../images/month_txtbg.jpg) top center no-repeat;
	height:17px;
	padding:8px 10px;
}
.srch_btn{
	display:block;
	color:#416c03;
	font-size:12px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:bold;
	background:url(../images/search_btn1.jpg) left center no-repeat;
	height:28px;
	padding-left:32px;
	line-height:26px;
}
.footer_container{
	margin:auto;
	background:url(../images/footerbg.jpg) left top repeat-x #fbfef7;
	padding:10px 0 10px 0px;
}
.footernav_facebook{
	margin:auto;
	width:980px;
	padding-bottom:5px;
}
.footernav{
	margin:auto;
	width:980px;
	color:#5a7c2c;
	font-size:11px;
	line-height:20px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	text-align:center;
	border-top:1px solid #e9e9e9;
	padding:2px 0px;
}
.footernav a{
	color:#5a7c2c;
	text-decoration:none;
	padding:0 5px 0 5px;
}
.footernav a:hover{
	color:#5a7c2c;
	text-decoration:underline;
	padding:0 5px 0 5px;
}
.disclaimer_nav{
	margin:auto;
	width:980px;
	color:#000000;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
}
.disclaimer_nav a{
	color:#000000;
	text-decoration:none;
	padding:0 3px 0 3px;
	line-height:20px;
}
.disclaimer_nav a:hover{
	color:#000000;
	text-decoration:underline;
}
.copyright{
	color:#908d85;
	font-size:10px;
	font-family:verdana, Arial, Helvetica, sans-serif;
	padding-left:3px;
	line-height:16px;
	text-transform:uppercase;
}
.site_viewed{
	color:#076533;
	font-size:10px;
	font-family:verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.findreligare{
	float:right;
	width:280px;
	text-align:right;
	color:#666666;
	font-size:11px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	line-height:20px;
	padding:0px 0 0 0px;
}
.findreligare img{
	float:right;
	margin-left:8px;
	border:0px;
}
.circulars_box{
	font-size:18px;
	color:#065a2d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:bold;
	float:left;
	padding-right:5px;
}
.circulars_number{
	font-size:11px;
	color:#313131;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:normal;
	float:left;
	background:url(../images/cerculars_icon.jpg) top left no-repeat;
	width:28px;
	height:18px;
	text-align:right;
	padding:3px 5px 0 0px;
}
.feedback_thumb{
	position:fixed;
	bottom:0px;
	right:0px;
	margin:auto;
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
font:normal 12px Tahoma;
line-height:18px;
z-index:100;
visibility: hidden;
margin-top:-1px;
width:150px;
}

.radius_box{
border: 2px solid #b8db87;
padding:2px 2px 0 2px;
background-color: #ffffff;


-webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
}

.dropmenudiv a{
width: auto;
display: block;
text-indent: 10px;
border-bottom: 0px solid #ffffff; /*THEME CHANGE HERE*/
padding: 0px 0px;
text-decoration: none;
font-weight: normal;
color: #005a29;
background:url(../images/drop_bg.png) left top no-repeat;
height:24px;
line-height:24px;
margin-bottom:1px;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background:url(../images/drop_bg_hover.png) left top no-repeat;
font-weight:bold;
}
.generaltxt{
	color:#424242;
	font-size:12px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
}



.rnr_container {
	width:1000px;
	margin:0 auto;
	padding:0px;
}
.rnr_banner {
	width:998px;
	border:1px solid #e3e3e3;
	overflow:hidden;
	padding:0px;
	-pie-background: #ffffff;
    -webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
    border-radius: 5px;
    behavior: url(PIE.htc);
	margin:0px;
}
.rnr_container1 {
	width:1000px;
	margin:0px;
	padding:25px 0 0 0;
	}
.rnr_container1_left {
	width:708px;
	margin:0px;
	padding:0px;
	font:normal 12px Tahoma;
	color:#424242;
	src:url(KozGoPr0.TTF);
	line-height:18px;
	}
.rnr_container1_left1{
	width:708px;
	margin:0px;
	padding:10px 0 0 0;
	font:normal 12px Tahoma;
	color:#424242;
	line-height:18px;
	}
.rnr_container1_right {
	width:252px;
	margin:0px;
	padding:0px;
	}
.rnr_PromotionCount {
	width:252px;
	margin:0px;
	padding:0px;
	}
.rnr_PromotionCount h1 {
	width:252px;
	margin:0px;
	padding:0px 0 10px 0;
	font: normal 22px "Franklin Gothic Medium Cond";
	color:#076533;
	}
.rnr_PromotionCount_banner {
	width:248px;
	border:1px solid #3f3f3f;
	overflow:hidden;
	padding:0px;
	-pie-background: #ffffff;
    -webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
    border-radius: 5px;
    behavior: url(PIE.htc);
	margin:0px 0 15px 0;
}

.listinglink {
	width:100%;
	margin:0px auto;
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	color:#8d8d8d;
	padding:0px;
}
.listinglink1 {
	width:990px;
	margin:0px auto;
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	color:#8d8d8d;
	padding:0px 0 20px 0;
}
.listinglink1 a {
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	color:#076533;
	text-decoration:none;
}
.listinglink1 a:hover {
	color:#076533;
	text-decoration:underline;
}


.wellness_Count{
	float:left;
	width:916px;
	margin:0px;
	padding:0 10px;
}

.wellness_HealthCount{
	float:left;
	min-width:296px;
	margin:0px;
	padding:0px;
}

.wellness_HealthCount1{
	float:left;
	min-width:296px;
	margin:0px;
	padding:0px;
}
.wellness_HealthCount1_top{
	float:left;
	min-width:296px;
	margin:0px;
	padding:0px;
}

.wellness_HealthCount1_top_left{
	float:left;
	width:10px;
	margin:0px;
	padding:0px;
	background:url(../images/wellness_imgbox_left.jpg) no-repeat left bottom;
	height:54px;
}
.wellness_HealthCount1_top_mid{
	float:left;
	width:227px;
	margin:0px;
	padding:27px 0 0 0;
	background:url(../images/wellness_imgbox_mid.jpg) repeat-x left bottom;
	height:27px;
	font-size:16px;
	color:#065a2d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.wellness_HealthCount1_top_right{
	float:left;
	width:59px;
	margin:0px;
	padding:0px;
	height:54px;
}

.wellness_HealthCount_mid{
	float:left;
	width:268px;
	margin:0px;
	padding:10px 13px;
	border-left:1px solid #dcdcdc;
	border-right:1px solid #dcdcdc;
	font-size:14px;
	line-height:18px;
	color:#403d3d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:normal !important;
}

.wellness_HealthCount_mid span{
	font-size:14px;
	color:#065a2d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.wellness_HealthCount1_bot{
	float:left;
	min-width:296px;
	margin:0px;
	padding:0px;
}
.wellness_HealthCount1_bot_left{
	float:left;
	width:10px;
	height:7px;
	margin:0px;
	padding:0px;
	background:url(../images/wel_box_botleft.jpg) no-repeat left top
}
.wellness_HealthCount1_bot_mid{
	float:left;
	width:276px;
	height:7px;
	margin:0px;
	padding:0px;
	background:	url(../images/wel_box_botmid.jpg) repeat-x left top;

}
.wellness_HealthCount1_bot_right{
	float:left;
	width:10px;
	height:7px;
	margin:0px;
	padding:0px;
	background:url(../images/wel_box_botright.jpg) no-repeat left top;

}



/*------------------------------------------------------------------*/
.wellnessBDR_left{
	margin:0px;
	padding:0px;
	border-left:1px solid #dcdcdc;
}
.wellnessBDR_mid{
	margin:0px;
	padding:10px 13px 10px 13px;
	border-left:1px solid #dcdcdc;
	font-size:14px;
	line-height:18px;
	color:#403d3d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:normal !important;
}

.wellnessBDR_right{
	margin:0px;
	padding:10px 10px 10px 0;
	border-right:1px solid #dcdcdc;
	font-size:14px;
	line-height:18px;
	height:200px;
	color:#403d3d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:normal !important;
}

.wellnessBDR_right span{
	font-size:14px;
	color:#065a2d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.CountWellness{
	margin:0px;
	padding:0 10px 0 10px !important;
	overflow:hidden;

	}
	
.CountWellness_topLeft{
	width:10px;
	margin:0px;
	padding:0px;
	background:url(../images/wellness_imgbox_left.jpg) no-repeat left bottom;
	height:54px;
}
.CountWellness_topMid{
	margin:0px;
	padding:27px 30px 0 0;
	background:url(../images/health_bg.jpg) no-repeat right bottom;
	height:27px;
	font-size:16px;
	color:#065a2d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.CountWellness_topMid_Doc_on_chat{
	margin:0px;
	padding:27px 60px 0 0;
	background:url(../images/doctor_on_chat_bg.jpg) no-repeat right bottom;
	height:27px;
	font-size:16px;
	color:#065a2d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.CountWellness_topMid_Doc_on_call{
	margin:0px;
	padding:27px 60px 0 0;
	background:url(../images/doctor_on_call_bg.jpg) no-repeat right bottom;
	height:27px;
	font-size:16px;
	color:#065a2d;
	font-family:Kozuka Gothic Pro B, Kozuka Gothic Pro, Arial, Helvetica, sans-serif;
	font-weight:bold;
}



.CountWellness_topRight{
	float:left;
	width:59px;
	margin:0px;
	padding:0px;
	height:54px;
}


.CountWellness_BotLeft{
	float:left;
	width:10px;
	height:7px;
	margin:0px;
	padding:0px;
	background:url(../images/wel_box_botleft.jpg) no-repeat left top
}
.CountWellness_BotMid{
	float:left;
	height:7px;
	margin:0px;
	padding:0px;
	background:	url(../images/wel_box_botmid.jpg) repeat-x left top;

}

.CountWellness_BotRight{
	height:7px;
	margin:0px;
	padding:0px;
	background:url(../images/wel_bg_let.jpg) no-repeat right top;

}

