div {
	behavior: url(iepngfix.htc);
}
img {
	behavior: url(iepngfix.htc);
}
body {
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	background:url(../images/brown/body.jpg) repeat-x top;
}
* {
	margin:0px;
	padding:0px;
}
a {
	outline:none;
	text-decoration:none;
}
.left {
	float:left;
}
.right {
	float:right;
}
#main {
	width:1000px;
	margin:10px auto 0px auto;
}
#header {
	margin:0px;
	padding:0px;
}
.logo {
	float:left;
	width:370px;
	height:105px;
}
.header-right {
	float:right;
	width:588px;
}
.top-link-bg {
	height:42px;
	background:url(../images/brown/top-link-bg.jpg) repeat-x;
}
.top-txt {
	float:left;
	font-size:12px;
	font-weight:normal;
	color:#303030;
	line-height:42px;
	background:url(../images/brown/top-link-bg.jpg) repeat-x;
}
.top-txt span a {
	font-weight:bold;
	color:#9c1d00;
}
.top-txt span a:hover {
	color:#303030;
	text-decoration:underline;
}
.top-links {
	float:right;
	width:275px;
}
.top-links ul li {
	float:left;
	display:block;
	list-style-type:none;
	background:url(../images/brown/top-link-icon.jpg) no-repeat left;
}
.top-links ul li a {
	font-size:12px;
	font-weight:normal;
	color:#303030;
	display:block;
	line-height:42px;
	padding:0px 15px;
}
.top-links ul li a:hover {
	color:#9c1d00;
}
.select-theme {
	float:right;
	width:330px;
	font-size:15px;
	line-height:32px;
	font-weight:bold;
	color:#303030;
	margin-top:21px;
}
.select-theme p {
	float:right;
	display:block;
	width:160px;
}
ul.theme {
	margin:0px;
	padding:0px;
}
ul.theme li {
	float:left;
	list-style-type:none;
}
ul.theme li a.brown {
	display:block;
	width:32px;
	height:32px;
	background:url(../images/brown/brown-active.jpg) no-repeat;
	margin-left:8px;
}
ul.theme li a.green {
	display:block;
	width:32px;
	height:32px;
	background:url(../images/brown/green-theme.jpg) no-repeat;
	margin-left:8px;
}
ul.theme li a.blue {
	display:block;
	width:32px;
	height:32px;
	background:url(../images/brown/blue-theme.jpg) no-repeat;
	margin-left:8px;
}
ul.theme li a.pink {
	display:block;
	width:32px;
	height:32px;
	background:url(../images/brown/pink-theme.jpg) no-repeat;
	margin-left:8px;
}
ul.theme li a:hover {
	background-position:0px -32px;
}
.mattblackmenu ul {
	margin: 0;
	padding: 0;
	font: bold 12px Verdana;
	list-style-type: none;
	overflow: hidden;
	width: 100%;
}
.mattblackmenu li {
	float:left;
	margin: 0;
	display:block;
	list-style-type:none;
	border-right: 1px solid white;
}
.mattblackmenu li a {
	float: left;
	display: block;
	text-decoration: none;
	margin: 0;
	padding: 8px;
	color: white;
	text-align:center;
	background: #303030;
	font-size:13px;
	font-weight:bold;
}
.mattblackmenu li a:visited {
	color: white;
}
.mattblackmenu li a:hover {
	background: #9c1d00;
}
.mattblackmenu a.selected {
	background: #9c1d00;
}
.ddsubmenustyle, .ddsubmenustyle ul {
	font: normal 13px Verdana;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	list-style-type: none;
	background: white;
	border: 1px solid #cccccc;
	border-bottom-width: 0;
	visibility: hidden;
	z-index: 100;
}
.ddsubmenustyle li a {
	display: block;
	width: 153px;
	color: white;
	background-color: #303030;
	text-decoration: none;
	padding: 4px 5px;
	border-bottom: 1px solid #cccccc;
	font-weight:bold;
}
* html .ddsubmenustyle li {
	display: inline-block;
	width: 165px;
}
.ddsubmenustyle li a:hover {
	background-color: #cccccc;
	color: #000000;
}
.downarrowpointer {
	padding-left: 4px;
	border: 0;
}
.rightarrowpointer {
	position: absolute;
	padding-top: 3px;
	left: 100px;
	border: 0;
}
.ddiframeshim {
	position: absolute;
	z-index: 500;
	background: transparent;
	border-width: 0;
	width: 0;
	height: 0;
	display: block;
}
#middle {
	margin-top:16px;
}
.middle-heading-bg {
	background:url(../images/brown/administration-heading-bg.jpg) repeat-x;
	margin-bottom:5px;
	line-height:36px;
	padding:0px 11px;
}
.middle-heading-bg h1 {
	display:block;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#ffffff;
	padding-left:20px;
	background:url(../images/brown/middle-heading-icon.png) no-repeat left;
}
.middle-data {
	background:#FFFFFF;
	border:1px solid #e4e4e4;
}
.middle-data-1 {
	background:#FFFFFF;
}
.display-data {
	background:#efefef;
	border:1px solid #d9d9d9;
	padding:31px 0px;
}
.over-display-data {
	background:#efefef;
	border:1px solid #868686;
	padding:31px 0px;
}
.inner-text {
	font-size:13px;
	font-weight:normal;
	color:#303030;
	padding-top:21px;
	text-align:center;
}
#footer {
	width:100%;
	height:30px;
	margin-top:16px;
	background:url(../images/brown/footer-bg.jpg) repeat-x;
}
#login-area {
	width:442px;
	height:442px;
	margin:auto;
	background:url(../images/brown/login-bg.png) no-repeat top center;
}
.login-heading {
	height:51px;
	font-family:'Myriad Pro';
	font-weight:normal;
	font-size:21px;
	color:#ffffff;
	padding-left:61px;
	line-height:51px;
	background:url(../images/brown/login-heading-bg.jpg) no-repeat;
}
.login-text {
	font-family:'Myriad Pro';
	font-weight:normal;
	font-size:25px;
	color:#323232;
	padding:15px 0px 0px 18px;
}
.field-text {
	font-family:'Myriad Pro';
	font-weight:normal;
	font-size:15px;
	color:#000000;
	padding:15px 0px 0px 18px;
}
.field-text a {
	color:#000000;
}
.field-text a:hover {
	text-decoration:underline;
}
.login-home-textfield {
	width:360px;
	background:#f4f4f4;
	border:1px solid #d8d8d8;
	padding:3px 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#000000;
}
.login-textfield {
	background:#fff;
	border:1px solid #d8d8d8;
	padding:3px 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#606060;
}
.login-btn {
	float:left;
	width:132px;
	height:41px;
	border:0px solid #000000;
	text-align:center;
	font-family:'Myriad Pro';
	font-size:22px;
	color:#ffffff;
	background:url(../images/brown/login-btn.jpg) no-repeat;
}
.heading-border {
	border:1px solid #b1b1b1;
	border-right:0px solid #b1b1b1;
	background:#d9d9d9;
}
.heading-border-txt {
	padding:5px 11px;
	font-size:12px;
	font-weight:bold;
	color:#000000;
	border-right:1px solid #b1b1b1;
}
.border {
	border-top:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
}
.col-border {
	padding:5px 11px;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	background:#efefef;
	border-right:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
}
.col-border-1 {
	padding:5px 11px;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	background:#f4f4f4;
	border-right:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
}
.col-border-1 a {
	font-weight:bold;
	color:#000000;
}
.col-border-1 a:hover {
	color:#921b00;
}
.list-menu {
	width:151px;
	padding:5px;
	font-size:12px;
	font-weight:normal;
	color:#666666;
	background:#ffffff;
	border:1px solid #d9d9d9;
}
.textfield {
	width:101px;
	padding:5px;
	font-size:12px;
	font-weight:normal;
	color:#666666;
	background:#ffffff;
	border:1px solid #d9d9d9;
}
.next {
	width:51px;
	background:#ffffff;
	padding:5px 11px;
	font-size:12px;
	font-weight:normal;
	color:#666666;
	border:1px solid #d9d9d9;
}
.edit-delete a.edit {
	display:block;
	width:27px;
	height:26px;
	background:url(../images/brown/edit-img.png) no-repeat;
}
.edit-delete a:hover {
	background-position:0px -26px;
}
.edit-delete a.delete {
	display:block;
	width:27px;
	height:27px;
	background:url(../images/brown/delete-icon.png) no-repeat;
}
.edit-delete a:hover {
	background-position:0px -27px;
}
.size-chart {
	background:#931b02;
	line-height:41px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:21px;
	color:#fff;
	text-align:center;
	margin-bottom:5px;
}
#osx-modal-content, #osx-modal-data {display:none;}

/* Overlay */
#osx-overlay {background-color:#000; cursor:wait;}

/* Container */
#osx-container {background-color:#eee; color:#000; font: 16px/24px "Lucida Grande",Arial,sans-serif; padding-bottom:4px; width:600px; -moz-border-radius-bottomleft:6px; -webkit-border-bottom-left-radius:6px; -moz-border-radius-bottomright:6px; -webkit-border-bottom-right-radius:6px; border-radius:0 0 6px 6px; -moz-box-shadow:0 0 64px #000; -webkit-box-shadow:0 0 64px #000; box-shadow:0 0 64px #000;}
#osx-container a {color:#ddd;}
#osx-container #osx-modal-title {color:#ffffff; background-color:#921a01; border-bottom:1px solid #ccc; font-weight:bold; padding:6px 8px; text-shadow:2px 2px 2px #000000;}
#osx-container .close {display:none; position:absolute; right:0; top:0;}
#osx-container .close a {display:block; color:#ffffff; font-weight:bold; padding:6px 12px 0; text-decoration:none; text-shadow:2px 2px 2px #000000;}
#osx-container .close a:hover {color:#000;}
#osx-container #osx-modal-data {font-size:12px; padding:6px 12px;}
#osx-container h2 {margin:10px 0 6px;}
#osx-container p {margin-bottom:10px;}
#osx-container span {color:#777;}

.col-border_event {
	padding:5px 11px;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	background:#f0f0f0;
	border-right:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
}
.col-border_event_themes {
	padding:5px 11px;
	font-size:12px;
	font-weight:normal;
	color:#000000;
}
.col-border_event:hover {
	color:#921b00;
	background:#ecebeb;
}
.photoframe{
border: 1px solid grey;
margin:15px 0 0 0;
padding:5px;
}
.photogallery{
border: 1px solid grey;
float:left;
padding:5px;
margin:0 5px;
width:150px;
}
input[type=submit]{
	font-size:16px !important;
	background-color:#000000;
	font-weight:bold;
	border:0px;
	color:#ffffff;
	padding:0 8px;
}